.mainheader {
  font-size: 0.90rem;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
  padding-left: 10%;
  padding-top: 2%;
}

.mainheader a {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 10px
}

.mainheader p {
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 2px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.mainheader span {
  padding: 10px;
}

.paths {
  font-size: 0.90rem;
  /* max-width: var(--max-width); */
  width: 100%;
  font-family: var(--font-mono);
  padding-left: 2rem;
}

.paths p {
  position: relative;
  margin: 0;
  padding-left: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
}

/* .paths span {
  margin: 0.5rem;
  padding: 10px;
} */

/* .navbar { */
/* align-items: center;
  position: sticky;
  width: var(--max-width);
  max-width: 100%; */
/* display: grid; */
/* grid-template-columns: repeat(4, minmax(25%, auto)); */
/* } */

.navbar {
  display: flex;
  align-items: center;
  min-height: 8vh;
  top: 0;
  width: 100%;
  background-color: rgba(var(--callout-rgb), 1);
  position: fixed;
  padding-bottom: 1%;
}

/* .navbar::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
} */

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .paths:hover span {
    background: rgba(var(--path-background), 0.25);
    transform: translateX(4px);
    /* border: 3px solid inherit; */
  }
}


/* Mobile */
/* @media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .navbar {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .mainheader {
    font-size: 0.8rem;
  }

  .mainheader a {
    padding: 1rem;
  }

  .mainheader p,
  .mainheader div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .mainheader p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(to bottom,
        rgba(var(--background-start-rgb), 1),
        rgba(var(--callout-rgb), 0.5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .mainheader div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom,
        transparent 0%,
        rgb(var(--background-end-rgb)) 40%);
    z-index: 1;
  }
} */