.mainheader {
  font-size: 0.90rem;
  max-width: var(--max-width);
  width: fit-content;
  font-family: var(--font-mono);
  padding-left: 10%;
  padding-top: 2%;
}

.mainheader a {
  display: flex;
  width: fit-content;
  gap: 0.5rem;
  padding-bottom: 10px
}

.mainheader p {
  margin: 0;
  padding: 1rem;
  border: 2px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.mainheader span {
  padding: 10px;
}

.paths {
  font-size: 0.90rem;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
  margin: 0;
  padding-left: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  padding-bottom: 1%;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .paths:hover span {
    background: rgba(var(--path-background), 0.25);
    transform: translateX(4px);
  }
}


/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .navbar {
    grid-template-columns: 1fr;
    top: 10px;
    /* margin-bottom: 120px; */
    /* max-width: 320px; */
    text-align: center;
    display: flex;
  }

  .mainheader {
    font-size: 0.8rem;
    position: fixed;
    top: 40px;
  }

  .mainheader div {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  .mainheader p {
    align-items: center;
    inset: 0 0 auto;
    background: rgba(255, 255, 255, 0);
  }

  .mainheader div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding-top: 0;
    height: 200px;
    background: rgba(255, 255, 255, 0);
  }

  /* .mobilepaths {
    width: 100%;
    justify-content: space-between;
    padding-left: 1rem;
  } */

  .paths {
    margin: 0;
    padding: 1rem;
  }
}